<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
    <ion-title>Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2></h2>
  <ion-img src="https://ionicframework.com/docs/img/demos/card-media.png"></ion-img>
  <p></p>
  <h3><span>r$</span> <ion-text color="tertiary">{{preco}}</ion-text></h3>
  <ion-button color="primary" expand="full" size="large">
    <ion-icon name="cart-outline"></ion-icon>
  </ion-button>
</ion-content>


<!-- <ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let  of ">
        <img [src]="produto.img" />
    </ion-col>
  </ion-row>
</ion-grid>  -->
