ion-text{
    text-align: center;
}
h4{
    margin:100px 0 0;
    text-align: center;
}
ion-searchbar{
    --border-radius:30px;
    --color:#FB7A18;
    --icon-color:#FB7A18;
    --placeholder-opacity:40%;
    text-align: center;
}