

<ion-content [fullscreen]="true" class="ion-padding" id="main-content">

  <img src="/assets/img/logo-bg-black.png" alt="NoFear"> <!--TROCAR COLOCAR LOGO PRETO "/assets/img/logo-bg-light.png"--> 

  <ion-text color="primary">
    <h4>Vamos conversar?</h4>
  </ion-text>


  <p>
    <ion-text><ion-icon name="location-outline"></ion-icon></ion-text>
      Av.Eng.Milton de Alvarenga Peixoto, 1343
  </p>

  <ion-button color="success" expand="block" shape="round">
      Whatsapp Nofear 
    <ion-icon name="logo-whatsapp"></ion-icon>
  </ion-button>

  <p>
    <ion-text><ion-icon name="mail-outline"></ion-icon></ion-text>
        nofear.gmail.com
    <ion-text><ion-icon name="logo-instagram"></ion-icon></ion-text>
        NoFearFight
  </p>

  <ion-text color="primary">
    <h5>Perguntas Frequentes</h5>
  </ion-text>

  <ion-accordion-group>
  <ion-accordion value="first">

    <ion-item slot="header" color="light">
      <ion-label> Preciso ter alguma experiencia em luta para começar a treinar?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Não é necessário ter nenhuma experiencia em nenhum tipo de arte marcial.</div>
  </ion-accordion>

  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Preciso ter o Equipamento Completo assim que iniciar?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Não! A gente fornece o equipamento para você começar, conforme for evoluindo é bom comprar um do seu interesse.</div>
  </ion-accordion>

  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Vou Precisar Lutar?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Não! a maioria faz por diversão, porem quem quer participar de uma luta, a gente da total apoio.</div>
  </ion-accordion>
</ion-accordion-group>
</ion-content>