<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/img/logo-header.png" alt="NoFear">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" id="main-content">

  <img src="/assets/img/logo-bg-black.png" alt="NoFear">
  
  <ion-text>
    <h5>Venha Conhecer Nossa Academia</h5>
  </ion-text>
  

  <ion-button shape="round" expand="block" class="entrar" (click)="onClick()">Entrar</ion-button>

</ion-content>