<ion-content [fullscreen]="true" class="">
  <ion-text>
    <h4>Muay thai Grupo</h4>
  </ion-text>

  <p>
    <iframe width="100%" height="200" src="https://www.youtube.com/embed/h65E0hzSkC0?si=l4qDuLPevwRLwaWW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>  </p>

  <ion-text>
    <h5>Sobre o Muay thai Grupo</h5>
  </ion-text>

  <p class="sobre">
    Aula em Grupo para quem gosta de treino com mais ação. Na Aula em Grupo você fará amizades além de conhecer novas pessoas de diversas áreas.<br>
    Os Benefícios da Aula de Grupo são Diversos. você aprendera com vários alunos diferentes, podendo variar sua forma de luta o deixando preparados para qualquer adversário! sem contar que todos irão te orientar e ensinar de forma correta.
      </p>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let foto of fotos">
        <img [src]="foto.img" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>