

<ion-content [fullscreen]="true" class="">
  <ion-text>
    <h4>Professores</h4>
  </ion-text>

  <img src="/assets/img/isaias.jpg" alt="isaias" class="principal" ><br>

  <h5>Isaias Simoes </h5>

  <p class="isaias" >
    Me chamo Isaias Simoes, Dono da Equipe NoFear e da Marca NF. Tenho 27 anos e Desde os meus 15/16 anos eu treino Arte Marcial.<br>
     Competindo pela primeira vez aos 18. Abri minha academia de Muaythai assim que lutei pela primeira vez.<br>
     No Começo minha ideia era de apenas ter uma marca de artigos de arte marcial, porem depois que de uma entrevista que teve na minha escola, 
    a própria diretora forneceu um espaço na própria escola para mim estar começando a dar aula.<br>
  </p>

  <ion-grid>
    <ion-row *ngFor="let professor of professores">
      <ion-col>
        <img [alt]="professor.nome" [src]="professor.img" />
      </ion-col>
      <ion-col>
        <ion-label>{{ professor.nome }}</ion-label>
        <p>
          <ion-text color="medium">{{ professor.descricao }}</ion-text>
        </p>
      </ion-col>
    </ion-row>
   
  </ion-grid>
</ion-content>