<ion-content [fullscreen]="true" class="">
  <ion-text>
    <h4>Muay thai Personal</h4>
  </ion-text>

  <p>
    <iframe width="100%" height="200" src="https://www.youtube.com/embed/EIHQv-CrHHI?si=2DVTrQai7iRv0Bxq&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </p>

  <ion-text>
    <h5>Sobre o Muay thai Personal</h5>
  </ion-text>
  <p class="sobre">
    Quem está procurando um esporte que trabalhe o condicionamento físico, os Benefícios de Treinar com Personal é o Foco Individual que vai ter nos treinos, Correções com mais Precisão, além da motivação constante deixando o treino mais inspirador e animado.
      Com treinos específicos para o aluno, na dificuldade e no tempo de aprendizagem do aluno.<br>
      A maioria das artes marciais pode ser praticada por pessoas de todas as idades.<br>
      Desde crianças a vovôs, todos são bem-vindos, desde que tenham o acompanhamento adequado e sigam as orientações e limites do próprio corpo!
    </p>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let foto of fotos">
        <img [src]="foto.img" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>